.image_input_text {
    display: block;
    width: 100%;
    
    label {
        margin-bottom: 2px;
        font-weight: normal;
    }
    
    input[type="text"], input[type="text"]:active, input[type="text"]:focus {
        border: 1px solid #e5e5e5 !important;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        padding: .2em;
        background: #fff;
        width: 100%;
    }
}
.st-block {
    clear: both;
    margin-bottom: 25px;
}
.image-additional {
    padding: 7px;
    a {
        color: #8495a7;
        font-weight: bold;
    }
    .fa-chevron:after {
        content: "\f078";
    }
    
    a.collapsed {
        .fa-chevron:after {
            content: "\f054";
        }
    }
}
.st-top-controls {
   min-height: 2.75em;
}
.st-block-addition__button {
    margin-top: 10px;
}
.st-block__inner {
    margin: 0 10px;
}
.st-block-ui-btn__reorder {
    right: 1em;
}
.st-block-ui-btn__delete {
    right: 0.5em;
}
.st-block__editor {
    div {
        margin-bottom: 7px;
        
        &.image-additional {
            margin-bottom: 3px;
        }
    }
}
.st-block-controls__buttons, .st-block-controls__button {
    background-color: white;
    font-size: 10px;
}
.st-block-controls__button {
    margin: 0.2em;
    .st-icon {
        width: 40px;
        height: 38px;
        display: block;
        margin: auto;
        /*fill: #436b92;*/
    }
}
.st-block-replacer {
    left: 0px;
}



/*
.st-block-replacer__button, .st-block-addition-top__icon .st-icon, .st-block-control-ui-btn--selected,
.st-block-control-ui-btn:hover, .st-block-control-ui-btn:focus, .st-format-btn:hover,
.st-format-btn--is-active, .st-block--with-plus:after {
    color: #436b92;
}
.st-block__upload-container:hover .st-upload-btn {
    background: #436b92;
}
.st-block-positioner, .st-block-positioner:before, .st-block__ui-delete-controls, .st-block__ui-delete-controls:before {
    border: 2px solid #436b92;
}*/



@media (min-width: 520px) {
    div[data-type="diwanee image"] .st-block__editor img, div[data-type="slider image"] .st-block__editor img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    
    div[data-type="slider image"] {
        .st-block__inner {
            background-color: #B9D3EE;
        }
    }
}