html[dir="rtl"] {
    .navbar-header {
        float: right;
    }
    
    .navbar-right {
        float: left !important;
        margin-left: -15px;
    }
    
    .user-profile {
        img {
            margin-left: 10px;
        }
    }
    
    .caret {
        margin-right: 2px;
    }
    
    .dropdown-menu {
        text-align: right;
    }
    
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
    
    .form-horizontal {
        .control-label {
            text-align: left;
        }
    }
    
    .col-md-offset-2 {
        margin-right: 16.66666667%;
    }
    
    .col-md-offset-4 {
        margin-right: 33.33333333%;
    }
    
    .checkbox label, .radio label {
        padding-right: 20px;
    }
    .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
        margin-right: -23px;
        margin-top: 0;
    }
}